{% extends "main.twig" %}

{% block content %}
    <div class="dashboard">
        <ul>
            <p>Jobs</p>
            <li><a href="/jobs/add" >Add Job</a></li>
            <li><a href="/jobs" >Jobs</a></li>
            <br><br>
            <p>Proyects</p>
            <li><a href="" >Add Proyect</a></li>
            <li><a href="" >List Jobs</a></li>
            <br><br>
            <p>User</p>
            <li><a href="/password" >Change password</a></li>
        </ul>
    </div>
    <br><br>
    <a href="/logout" >Logout</a>
{% endblock %}