{% extends "main.twig" %}

{% block content %}
    <div class="dashboard">
        <ul>
            <li><p>Jobs</p></li>
            <li><a href="/jobs/add" >Add Job</a></li>
            <li><a href="" >Update Job</a></li>
            <li><a href="" >Delete Job</a></li>
            <br>
            <li><p>Proyects</p></li>
            <li><a href="/jobs/add" >Add Proyect</a></li>
            <li><a href="" >Update Proyect</a></li>
            <li><a href="" >Delete Proyect</a></li>
        </ul>
    </div>
    <br><br>
    <a href="/logout" >Logout</a>
{% endblock %}