{% extends "main.twig" %}

{% block content %}
    <div class="dashboard">
        <ul>
            <p>General</p>
            <li><a href="/photo" >Photo</a></li>
            <li><a href="/summary" >Summary</a></li>
            <li><a href="/information/add" >Add additional field</a></li>
            <li><a href="/information" >Additional fields</a></li>
            <br><br>
            <p>Jobs</p>
            <li><a href="/jobs/add" >Add Job</a></li>
            <li><a href="/jobs" >Jobs</a></li>
            <br><br>
            <p>Proyects</p>
            <li><a href="/projects/add" >Add Proyect</a></li>
            <li><a href="/projects" >Proyects</a></li>
            <br><br>
            <p>Skills</p>
            <li><a href="/skills/add" >Add Skill</a></li>
            <li><a href="/skills" >Skills</a></li>
            <br><br>
            <p>Account</p>
            <li><a href="/users/edit" >Edit information</a></li>
            <li><a href="/password" >Change password</a></li>
        </ul>
    </div>
    <br><br>
    <a href="/logout" >Logout</a>
{% endblock %}