{% extends 'main.twig' %}

{% block content %}
    <h1>Change user password</h1>
    <div class="alert alert-primary" role="alert">
        {{ responseMessage }}
    </div>
    <form action="/password/change" method="post" >
        <label for="">Actual password:</label>
        <input type="password" name="actual_password" ><br>
        <label for="">New password:</label>
        <input type="password" name="new_password"><br>
        <label for="">Confirm password:</label>
        <input type="password" name="confirm_password"><br>
        <button type="submit">Save</button>
    </form>
{% endblock %}